#base-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #EFEFEF;
  .menu {
    width: 200px;
    height: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    .logo {
      height: 40px;
      text-align: center;
      line-height: 40px;
      flex-shrink: 0;
    }
    .menu-main {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    .right-header {
      height: 40px;
      background-color: #FFF;
      flex-shrink: 0;
      display: flex;
      .bread-box {
        flex: 1;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        .bread-item {
          display: flex;
          align-items: center;
          height: 30px;
          overflow: hidden;
          flex-shrink: 0;
          border: 1px solid #999;
          padding: 0 8px;
          margin: 0 4px;
          font-size: 14px;
          border-radius: 4px;
          cursor: pointer;
        }
        .bread-item-checked {
          background-color: #A4D3EE;
        }
       }
      .user-box {
        padding: 0 24px;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 12px;
          border: 1px solid #FFF;
          object-fit: cover;
        }
      }
    }
    .router-container {
      flex: 1;
      padding: 12px;
      overflow-x: hidden;
      overflow-y: auto;
      .router-main {
        background-color: #FFF;
        padding: 12px;
      }
    }
  }
}